<!-- MENU -->
<nav class="menu">
  <div class="menu-container">

    <!-- LOGO -->
    <a href="#" class="menu-logo">
      <img src="assets/img/gog_logo.png" alt="">
    </a>

    <!-- CART -->
    <cart></cart>

  </div>
</nav>

<!-- CONTENT -->
<div class="content">
  <!-- LANDING SECTION -->
  <div class="landing">
      <div class="landing-content">
          <span class="game-header">GAME OF THE WEEK</span>
          <div class="game-spot">

              <!-- GAME SPOT IMAGE -->
              <picture>
                  <!-- SPACE FOR SOURCES -->
                  <img class="card" src="assets/img/the_witcher_cover.jpg" alt>
              </picture>

          </div>

          <small-spots-list></small-spots-list>

      </div>
  </div>
  <!-- SPACE FOR MORE POSSIBLE SECTIONS -->
</div>