<!-- ENVELOPE -->
<div class="envelope new">
  <!-- FRONT -->
    <div class="front"></div>
    <!-- BACK -->
    <div class="back">
      <!-- letter -->
      <div class="letter">
         <p>Dear GOG,</p>
         <p>I'm passionate when it comes to finding solutions, trying and learning new things. I'm very perfectionist and I think that I could be a very good fit for your team.</p>
         <p>I look forward to hearing from you, <br>
           Richard</p>
      </div>
      <!-- FLAPS -->
      <div class="flap left-flap"></div>
      <div class="flap right-flap"></div>
      <div class="flap bottom-flap"></div>
      <div class="flap top-flap"></div>
    </div>
  </div>