<!-- ENVELOPE -->
<div class="envelope new">
  <!-- FRONT -->
    <div class="front"></div>
    <!-- BACK -->
    <div class="back">
      <!-- letter -->
      <div class="letter">
         <p>Dear GOG,</p>
         <p>Thank you for giving me the chance to showcase some of my skills throughout this task. I took this opportunity to also introduce myself into Angular, so that I could be a better fit for your team if we get the chance to work together.</p>
         <p>I look forward to hearing from you, <br>
           Richard</p>
      </div>
      <!-- FLAPS -->
      <div class="flap left-flap"></div>
      <div class="flap right-flap"></div>
      <div class="flap bottom-flap"></div>
      <div class="flap top-flap"></div>
    </div>
  </div>