@borderColor_1: #cdcdcd;
@borderColor_2: #a6a6a6;

@backgroundColor_1: #f7f7f7;
@backgroundColor_2: #ececec;
@backgroundColor_3: #dedede;

@boxShadowColor_1: #9b9b9b;
@boxShadowColor_2: #ababab;

@discountTagColor: #00905e;

@clearCartLightColor: #b65ae2;
@clearCartDarkColor: #7b3dc6;
@clearCartHoverDarkColor: #8b46df;
@clearCartHoverLightColor: #c261f0;

@fontColorLight_1: white;
@fontColorLight_2: #656565;
@fontColorLight_3: #828282;