<div class="small-spot-card">
    <picture>
        <img src="{{game.cover}}" alt>
    </picture>
    <span class="small-spot-title">{{game.title}}</span>
    <div class="small-spot-details">
        <div *ngIf="game.discount && !game.owned" class="tag discount-tag">-{{game.discount}}%</div>
        <div *ngIf="game.owned" class="tag status-tag">OWNED</div>
        <div *ngIf="game.inCart" class="tag status-tag">IN CART</div>
        <div *ngIf="!game.owned && !game.inCart"  class="tag price-tag" (click)="addToCart()">$ {{game.price}}</div>
    </div>
</div>
